.breaking-news {
    display: grid;
    grid-template-columns: 1fr 1160px 1fr;
    grid-template-rows: 223px 1fr 132px;
    grid-template-areas: "lside top rside" "lside middle rside" "lside bottom rside";
    background-color: #ffffff;
}

.title-wrapper {
    grid-area: top;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.news-title {
    color: #4e4e4e;
    font-family: Montserrat, system-ui;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 30px;
}

.lines-wrapper {
    display: flex;
    flex-direction: column;
    height: 5px;
    width: 88px;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: flex-start;
}

.line {
    width: 76px;
    height: 1px;
    background-color: #18cfab;
}

.second-line {
    align-self: flex-end;
}

.news-gallery {
    grid-area: middle;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 28px;
    grid-row-gap: 45px;
}

.gallery-offer {
    position: relative;
}

.gallery-offer-img-file {
    display: block;
    width: 100%;
}

.date-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 68px;
    height: 66px;
    background-color: #203e38;
    font-size: 16px;
    font-family: Montserrat, system-ui;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    transition: background-color 0.3s ease-in;
}

.gallery-offer-img {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.gallery-offer-img:hover .date-wrapper {
    background-color: #18cfab;
}

.gallery-offer-img:hover .gallery-offer-title {
    color: #18cfab;
}

.gallery-offer-cover {
    background-color: #f8fcfe;
    border: 0.5px solid #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 72px;
}

.gallery-offer-title {
    padding-left: 13px;
    color: #717171;
    font-family: Montserrat, system-ui;
    font-weight: 700;
    transition: color 0.3s ease-in;
}

.gallery-offer-descr {
    color: #777777;
    padding-left: 17px;
    font-family: Montserrat, system-ui;
    font-weight: 300;
}